<section class="section bg-light">
  <div class="container">
    <div class="row align-items-stretch retro-layout">
      <div class="col-md-4">
        <ng-container *ngIf="posts.length > 0">
          <a *ngIf="posts[0]" [routerLink]="['/post', posts[0].slug]" class="h-entry mb-30 v-height gradient">
            <div class="featured-img" [style.backgroundImage]="'url(http://localhost:5001/uploads/' + posts[0].image + ')'" ></div>
            <div class="text">
              <span class="date">{{ posts[0].createdAt | date:'MMM d, y' }}</span>
              <h2>{{ posts[0].title }}</h2>
              <small class="author">Por: {{ posts[0].author }}</small>
            </div>
          </a>
          <a *ngIf="posts[3]" [routerLink]="['/post', posts[3].slug]" class="h-entry mb-30 v-height gradient">
            <div class="featured-img" [style.backgroundImage]="'url(http://localhost:5001/uploads/' + posts[3].image + ')'" ></div>
            <div class="text">
              <span class="date">{{ posts[3].createdAt | date:'MMM d, y' }}</span>
              <h2>{{ posts[3].title }}</h2>
              <small class="author">Por: {{ posts[3].author }}</small>
            </div>
          </a>
        </ng-container>
      </div>

      <div class="col-md-4">
        <ng-container *ngIf="posts.length > 1">
          <a [routerLink]="['/post', posts[1].slug]" class="h-entry mb-30 h-100 gradient">
            <div class="featured-img" [style.backgroundImage]="'url(http://localhost:5001/uploads/' + posts[1].image + ')'" ></div>
            <div class="text">
              <span class="date">{{ posts[1].createdAt | date:'MMM d, y' }}</span>
              <h2>{{ posts[1].title }}</h2>
              <small class="author">Por: {{ posts[1].author }}</small>
            </div>
          </a>
        </ng-container>
      </div>

      <div class="col-md-4">
        <ng-container *ngIf="posts.length > 2">
          <a *ngIf="posts[2]" [routerLink]="['/post', posts[2].slug]" class="h-entry mb-30 v-height gradient">
            <div class="featured-img" [style.backgroundImage]="'url(http://localhost:5001/uploads/' + posts[2].image + ')'" ></div>
            <div class="text">
              <span class="date">{{ posts[2].createdAt | date:'MMM d, y' }}</span>
              <h2>{{ posts[2].title }}</h2>
              <small class="author">Por: {{ posts[2].author }}</small>
            </div>
          </a>
          <a *ngIf="posts[4]" [routerLink]="['/post', posts[4].slug]" class="h-entry mb-30 v-height gradient">
            <div class="featured-img" [style.backgroundImage]="'url(http://localhost:5001/uploads/' + posts[4].image + ')'" ></div>
            <div class="text">
              <span class="date">{{ posts[4].createdAt | date:'MMM d, y' }}</span>
              <h2>{{ posts[4].title }}</h2>
              <small class="author">Por: {{ posts[4].author }}</small>
            </div>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</section>
