.navbar {
  background-color: var(--primary);
  box-shadow: 0 2px 4px var(--shadow-primary);
  position: relative;
  z-index: 100;
  padding: 15px 20px;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .navbar-nav .nav-item {
  margin: 0 10px;
  font-size: 14px;
}

.navbar .navbar-nav .nav-link {
  color: var(--white);
  font-weight: 500;
  text-transform: lowercase;
  transition:
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--primary-light);
  text-decoration: none;
  text-shadow: 0 2px 8px var(--shadow-primary);
}

.navbar .form-control {
  background: transparent !important;
  color: var(--white);
  font-size: 14px;
}

.navbar .form-control::placeholder {
  color: var(--light-gray);
  font-size: 12px;
}

#mobileMenu {
  background: var(--primary);
  box-shadow: 0 2px 4px var(--shadow-primary);
}

#mobileMenu h5 {
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#mobileMenu .btn-outline-primary {
  color: var(--white);
  border-color: var(--white);
}

#mobileMenu .btn-outline-primary:hover {
  background-color: var(--white);
  color: var(--primary);
}

#mobileMenu .nav-link {
  color: var(--white);
  font-weight: 500;
  text-transform: lowercase;
}

#mobileMenu .nav-link:hover {
  color: var(--primary-light);
  text-decoration: none;
}
