<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a routerLink="/" class="logo m-0 float-start">o som do silêncio.</a>
                    </div>
                    <div class="col-8 text-center">
                        <form class="search-form d-inline-block d-lg-none"
                            (submit)="onSearch($event, searchInput.value)">
                            <input #searchInput type="text" class="form-control" placeholder="buscar no blog">
                            <span class="bi-search"></span>
                        </form>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                            <li class="active"><a routerLink="/">Home</a></li>
                            <li><a routerLink="/sobre-mim">Sobre</a></li>
                            <li><a routerLink="/postagens">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-2 text-end">
                        <a href="#"
                            class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                            <span></span>
                        </a>
                        <form class="search-form d-none d-lg-inline-block"
                            (submit)="onSearch($event, searchInputDesktop.value)">
                            <input #searchInputDesktop type="text" class="form-control" placeholder="buscar no blog">
                            <span class="bi-search"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>