<div class="featured__posts">
  <app-cards-posts></app-cards-posts>
</div>

<section id="oldPosts">
  <div class="container">
    <div class="row">
      <h3 class="mb-4">posts antigos.</h3>
      <div class="content">
        <ng-container *ngIf="oldPostsGrouped.length > 0">
          <div id="carouselOldPosts" class="carousel slide">
            <div class="carousel-inner">
              <div *ngFor="let group of oldPostsGrouped; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="row">
                  <div *ngFor="let post of group" class="col-12 col-md-4">
                    <a [routerLink]="['/post', post.slug]" class="h-entry mb-30 v-height gradient">
                      <div class="featured-img"
                        [style.backgroundImage]="'url(' + environment.baseURL + '/uploads/' + post.image + ')'"></div>
                      <div class="text">
                        <span class="date">{{ post.createdAt | date:'MMM d, y' }}</span>
                        <h2>{{ post.title }}</h2>
                        <small class="author">Por: {{ post.author }}</small>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselOldPosts" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselOldPosts" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>