<section id="heroPosts">
    <h1 class="text-center">sobre.</h1>
</section>

<section id="paginaSobre">
    <div class="container d-flex align-items-center">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="foto-perfil">
                    <img src="assets/images/foto-igor.jpeg" alt="Foto de Igor Henrique Constant" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <p>Bom... Por onde eu começo?</p>
                    <p>Me chamo Igor e desde pequeno sempre fui muito ligado a música. Possuindo bastante influência
                        do meu primo e da minha mãe, que gosta muito de Titãs.</p>
                    <p>A parte bacana disso de escrever sobre a minha relação com a música é de principalmente a
                        ressignificação. De como eu enxergava algumas músicas ou bandas quando criança e como, hoje
                        adulto, elas acabam soando diferente aos meus ouvidos.</p>
                    <p>Essa jornada de redescoberta musical é o que me motiva a compartilhar minhas experiências e
                        reflexões através da escrita.</p>
                    <p>Quando criei o medium, tinha essa expectativa de poder me aprofundar ainda mais. Porém em um
                        determinado momento, pensei... Por que não ter <b>meu</b> próprio espaço?</p>
                    <p>Foi a partir daí que "nasceu" o Som do Silêncio, um projeto que busca explorar a música de
                        forma mais profunda e pessoal. Música é o que temos de mais forte para demonstrar sentimentos,
                        sejam de alegria, insatisfação ou tristeza.</p>
                    <p>Espero que gostem, tentarei passar ao máximo o que sinto e se você se sentir bem com isso,
                        estarei feliz e sentirei que estou no caminho certo.</p>
                    <p>Obrigado por ler até aqui! E sejam bem-vindos.</p>
                </div>
            </div>

        </div>
    </div>
</section>