@import "./design-tokens/colors.scss";

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

p {
  margin: 10px 0 !important;
  line-height: 1.5rem;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--gray);
  padding-left: 1rem;
  margin: 0px !important;
}

#heroPosts {
  background-color: var(--primary);
  padding: 50px 0;
  text-align: center;
  margin-bottom: 30px;

  box-shadow: var(--shadow-md);

  h1 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 700;
  }
}

#heroPage {
  padding: 7rem 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  max-height: 100%;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow-dark);
    z-index: 1;
  }

  h1,
  p,
  small {
    color: var(--primary-light);
  }

  .badge {
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--dark);
    font-size: 0.875rem;
    font-weight: 500;
  }
}
